<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Reviews</th>
        </tr>
    </thead>
    <tbody>
        <% @reviews.each do |review| %>
        <tr>
            <th scope="row">
                <%= link_to review.content, review_path(review) %>
            </th>
        </tr>
        <% end %>
    </tbody>
</table>